* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    word-break: break-word;
    display: flex;
    font-size: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #b83f45;
}

h1 {
    font-size: 80px;
    font-weight: 200;
}

.topnav {
    display: flex;
    position: relative;
    width: 550px;
    height: 65px;
}

#selectAllButton {
    position: absolute;
    height: 65px;
    width: 45px;
    font-size: 20px;
    padding: 8px;
    background-color: white;
    margin-left: 0;
    z-index: 1;
    border: none;
}

#input {
    font-style: italic;
    position: absolute;
    font-size: 24px;
    top: 0;
    right: 0;
    width: calc(100%);
    height: 100%;
    padding-left: 45px;
    border: none;
}

#itemList li {
    width: 550px;
    border: 1px solid #dfdfdf;
    padding: 15px;
    font-size: 15px;
    text-align: left;
    list-style-type: none;
} 

#itemList li :first-child {
    margin-right: 10px;
}
.todo-item {
    position: relative; 
}
.tododiv{
    display: flex;
    justify-content: left;
}
.destroy {
    opacity: 0;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.todo-item:hover .destroy {
   opacity: 1;
  
}

/*ger en "låda" till alla entiteter under input*/
.counter-box {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    flex: 1;
    border: 1px solid #ddd;
    width: 550px;
    margin: 0 auto;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
  }
  
  #counter {
    justify-self: start;
  }
  
  #clear-completed {
   
   justify-self: flex-end;
  }
  
  #active-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
  }
  
  .counter-box button {
    margin: 0 5px;
  }

/* avstånden mellan listan och texten under*/
#infoList {
    margin-top: 50px;
    text-align: center;
    font-size: small;
    list-style-type: none;
}

/*avstånden mellan texten under listan*/
#infoList li {
    margin-bottom: 10px;
}

/*enbart för att få till färgen på TodoMVC längst ner*/
#clickableLink a {
    text-decoration: none;
    color: black;
}

#clickableLink a:hover {
    text-decoration: underline;
  }