* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #f5f5f5;
}
header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
h1 {
    font-size: 80px;
}
.topnav {
    display: flex;
    justify-content: center;
    align-items: center;
}
#searchInput {
    font-style: italic;
    font-size: 25px;
    padding: 18px 20px;
    width: 550px;
    padding-left: 60px;
    border: none;
}

#selectAllButton {
    display: none;
    font-size: 25px;
    padding: 10px 15px;
    border:none;
    margin-right: -52px;
    position: relative;
    background-color:white;
}

/*ger en "låda" till alla entiteter under searchInput*/
.counter-box {
    display: flex;
    justify-content: center; 
    border: 1px solid #ddd;
    padding: 10px;
    width: 550px;
    margin: 0 auto;
  }
  
  #counter {
    text-align: left; 
    margin-right: auto;
  }
  
  .counter-buttons button {
    text-align: center; 
  }

 /* avstånden mellan listan och texten under*/
ul {
    margin-top: 50px;
    text-align: center;
    font-size: small;
    list-style-type: none;
}

/*avstånden mellan texten under listan*/
ul li {
    margin-bottom: 10px;
}

/*enbart för att få till färgen på TodoMVC längst ner*/
#clickableLink a {
    text-decoration: none;
    color: black;
}